@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Playfair+Display:wght@700&family=Poppins:wght@500;700&display=swap");
:root {
  --primary-color: #135b0e;
  --secondary-color: whitesmoke;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1 {
  color: white;
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 1.5;
}

h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 16px;
}

nav a {
  color: #272142;
  text-decoration: none;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

.logo {
  max-width: 70px;
}

.hero {
  text-align: center;
  padding: 140px 20px;
}

.hero h2 {
  color: var(--secondary-color);
}

.btn-branding {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 35px;
  font-size: 18px;
  line-height: 20px;
  padding: 12px 20px;
}
.btn-branding:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}

.solutions-description {
  padding: 120 60px 0;
  background-size: cover;
}
.img-fluid {
  margin: 5px;
  padding: 5px;
}

.row {
  padding: 80px 20px;
}

footer .demo-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
  background-size: cover;
}

footer .demo-box p {
  margin: 0;
}

footer {
  margin: 60px 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
}

@media (max-width: 850px) {
  .solutions-description {
    padding: 0;
    text-align: center;
  }

  h3 {
    font-size: 26px;
  }

  .hero {
    padding: 80px 20px;
  }

  .solution {
    text-align: center;
    padding: 0;
  }
  footer .demo-box {
    padding: 30px;
  }
}
